.container{
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: black;
    width: 100%;
    opacity: .5;
    padding: 2em 0;
    gap: 1em;
    position: fixed;
    z-index: 1000;
    top:0;
    a{
        text-decoration: none;
        color: white;
    }
    .tabActive{
        opacity: 1 !important;
        margin-right: 1em;
        color: rgb(174, 174, 14);
        font-weight: 600;
    }
    .tab{
        opacity: 1 !important;
        margin-right: 1em;
    }

}